{% extends 'base.html.twig' %}

{% block title %}Contact and company index{% endblock %}

{% block body %}

    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Civility</th>
                <th>Name</th>
                <th>FirstName</th>
                <th>MobilPhone</th>
                <th>OfficePhone</th>
                <th>Email</th>
                <th>Role</th>
                <th>Company name</th>
                <th>Company address1</th>
                <th>Company address2</th>
                <th>Company address3</th>
                <th>Company code Post</th>
                <th>Company city</th>
                <th>Company siret</th>
                <th>Company phone</th>
                <th>Company email</th>
                <th>Company french</th>
                <th>Company Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.civility }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.mobilPhone }}</td>
                <td>{{ contact.officePhone }}</td>
                <td>{{ contact.email }}</td>

                <td>{{ contact.company.name }}</td>
                <td>{{ contact.company.address1 }}</td>
                <td>{{ contact.company.address2 }}</td>
                <td>{{ contact.company.address3 }}</td>
                <td>{{ contact.company.codePost }}</td>
                <td>{{ contact.company.city }}</td>
                <td>{{ contact.company.siret }}</td>
                <td>{{ contact.company.phone }}</td>
                <td>{{ contact.company.email }}</td>
                <td>{{ contact.company.french }}</td>
                <td>{{ contact.company.type }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">show</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contact_new') }}">Create new contact</a>
    <a href="{{ path('company_new') }}">Create new company</a>
{% endblock %}
