{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
<div class="container general">
    <h1>Index des contacts</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>M. Mme</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>N° de téléphone portable</th>
            <th>N° de téléphone bureau</th>
            <th>Adresse Email</th>

            <th>Fonction(s)</th>
            <th>Entreprise</th>
            <th>actions</th>

        </tr>
        </thead>
        <tbody>

        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.civility }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.mobilPhone }}</td>
                <td>{{ contact.officePhone }}</td>
                <td>{{ contact.email }}</td>

                <td>{% for role in contact.roles %} {{ role.type }}{% endfor %}</td>
                <td>{{ contact.company.name }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">consulter</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">modifier/supprimer</a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row justify-content">
        <div class="col-4 space-around">
            <a href="{{ path('contact_new') }}">Créer un nouveau contact</a>
        </div>
        <div class="col-4 space-around">
            <a href="{{ path('company_new') }}">Créer une nouvelle entreprise</a>
        </div>
    </div>


    {% endblock %}
