{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container general">
        <h1>Contact consulté</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Civilité</th>
                <td>{{ contact.civility }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.name}}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contact.firstName }}</td>
            </tr>
            <tr>
                <th>N° Téléphone portable</th>
                <td>{{ contact.mobilPhone }}</td>
            </tr>
            <tr>
                <th>N° téléphone bureau</th>
                <td>{{ contact.officePhone }}</td>
            </tr>
            <tr>
                <th>Adresse email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ contact.company.name }}</td>
            </tr>

            <tr>
                <th>Fonction(s)</th>
                <td>{%  for role in contact.roles%} {{ role.type }}{% endfor %}</td>

            </tr>


            </tbody>
        </table>

        <a href="{{ path('contact_index') }}">Retour à la liste</a>

        <a href="{{ path('contact_edit', {'id': contact.id}) }}">Mettre à jour - supprimer</a>
    </div>

{% endblock %}
