{% extends 'base.html.twig' %}


{% block title %}Index des entreprises{% endblock %}

{% block body %}

    <div class="container general">
        <h1>Index des entreprises</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse 1</th>
                <th>Adresse 2</th>
                <th>Adresse 3</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Siret</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Français</th>
                <th>Type</th>
                <th>Actions</th>

            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.address1 }}</td>
                    <td>{{ company.address2 }}</td>
                    <td>{{ company.address3 }}</td>
                    <td>{{ company.codePost }}</td>
                    <td>{{ company.city }}</td>
                    <td>{{ company.siret }}</td>
                    <td>{{ company.phone }}</td>
                    <td>{{ company.email }}</td>
                    <td>{{ company.french ? 'Yes' : 'No' }}</td>
                    <td>{{ company.type }}</td>


                    <td>
                        <a href="{{ path('company_show', {'id': company.id}) }}">consulter</a>
                        <a href="{{ path('company_edit', {'id': company.id}) }}">modifier/supprimer</a>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">Aucune référence trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('company_new') }}">Créer une nouvelle entreprise</a>
    </div>
{% endblock %}
