<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wiilog!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {% block stylesheets %}
        <link rel="stylesheet" href="/assets/CSS/styles.css">{% endblock %}
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if app.request.get('_route') == 'company_new' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('company_new') }}">Créer une entreprise</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'company_index' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('company_index') }}">Consulter les entreprises</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'contact_new' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('contact_new') }}">Créer un contact</a>
                </li>
                <li class="nav-item {% if app.request.get('_route') == 'contact_index' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('contact_index') }}">Consulter les contacts</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
